@use "../../Index.scss";
.homepage {
  background-color: Index.$backgroundColor;
}

.carusel {
  padding: 30px 150px;
}

.accordions {
  padding: 50px 100px 50px 100px;
}

.homecards {
  padding-top: 50px;
}

.cardcustom {
  color: Index.$cardsColor;
  background-color: Index.$cardsColor;
}
