@use "../../Index.scss";
.page-container {
  position: relative;
  min-height: 100vh;
  background-color: Index.$backgroundColor;
}

.content {
  padding-bottom: 7rem;
}

.link {
  padding: 1rem;
  color: Index.$backgroundColor;
  &:link {
    text-decoration: none;
  }
  &:hover {
    color: Index.$backgroundColor;
    background-color: grey;
  }
  &:active {
    color: Index.$backgroundColor;
    background-color: grey;
  }
}
