@use "../../Index.scss";

.input-style {
  padding-bottom: 10px;
}

.login-button {
  align-self: center;
}

.login-page {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.login-text {
  border: 20px black;
}

.login-form {
  ::after {
    box-shadow: 10px;
  }
}
